body {
    margin: 0;
    font-family: 'Arial', sans-serif;

    color: #333333;
    font-size: 18px;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/*Container*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*Section*/
.section {
    padding: 10px 0;
}

.section--blue {
    background-color: #29235f;
}

/*Header*/
.header {
    width: 100%;
    padding: 35px 0;
    background-color: #1c1541;
}

.header__inner {
    position: relative;
}

.header__list {
    font-size: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__item {
    display: inline-block;
    margin-right: 12%;
}

.header__item:last-child {
    margin-right: 0;
}

.header__item span {
    display: block;
    color: #ffffff;
}

.header__btn {
    
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 16px 12px 12px 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #c9fb03;
    border-radius: 5px;
    font-weight: bold;
    -webkit-transition: .1s linear;
    transition: .1s linear;
}

.header__btn:hover {
    background-color: #29235f;
    border-color: #c9fb03;
    -webkit-box-shadow: 0 0 10px #758f0c;
    box-shadow: 0 0 10px 3px #758f0c;

}

/*Intro*/
.intro {
    width: 100%;
    position: relative;
    background: url("../images/fon.jpg") center no-repeat;
    background-size: cover;
    
    overflow: hidden;

}

.intro__gradient {
    background-image: radial-gradient(circle farthest-side at 50% 65%, #fff 0%, #fff 20%, transparent 60%);
}

.intro__header {
    width: 100%;
    padding-top: 100px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    width: 100%;
    max-width: 720px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    color: #c9fb03;
}

.intro__title--alfa {
    color: #fff;
}

.intro__title--slim {
    background: url('../images/title__layer.png') no-repeat;
    background-color: #aa2421;
    background-position: 0px 7px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro__title--pink {
    color: #fd04b4;
    display: inline-block;
    position: relative;
}

.intro__title--pink::after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    background-color: #fd04b4;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}


.intro__title--carry {
    display: table;
}

.intro__subtitle {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #c9fb03;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    padding: 0;
}

.intro__inner {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


/*test*/
.intro__footer {
    display: flex;
    justify-content: center;
    
    margin-top: -10%;
    background-color: transparent;
    bottom: 10%;
}


.intro__block {

    background-color: #fff;
    width: 600px;
}

.intro__border {
    width: 900px;
    height: 220px;
    position: relative;
}

.intro__image {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
}

.intro__image--girl {
    left: 20px;
    bottom: 120px;
}

.intro__image--product {
    left: -80px;
    bottom: 0px;

}

.intro__image--label {
    left: 150px;
    top: -240px;

}

.border {

    border: 100px solid #fff;
    border-bottom-width: 120px;
    border-top-color: transparent;
    border-left-width: 350px;
    border-right-width: 350px;

}



/*Sales*/

.sales {
    width: 400px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    z-index: 1000;
}

.sales__inner {
    width: 360px;
    height: 580px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #cac8d1;
}

.sales__item {
    width: 100%;
    height: 225px;
    border-radius: 10px;
    box-shadow: 0 5px 5px #f1f0f4;
    padding: 50px 35px 0 70px;
    position: relative;
}

.sales__item p {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 35px;
}

.sales__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #cb0ea1;
}

.sales__title--carry {
    display: table;
    margin: 0 auto;
}

.sales__title--blue {
    color: #1604b7;
}

.sales__clock {
    position: absolute;
    top: 186px;
    left: 45px;

}

.sales__clock img {
    display: block;
    width: 100%;
    height: auto;
}

.sales__clock-inner {
    position: absolute;
    width: 280px;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
}

.sales__clock-inner span {
    display: inline-block;
    padding: 16px;
    margin-right: 33px;
    font-size: 30px;
    font-weight: bold;
}

.sales__clock-inner span:last-child {
    margin-right: 0;
    margin-left: 3px;
}

.sales__text {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
}

.sales__text--carry {
    display: table;
    margin: 0 auto 3px auto;
}

.sales__form {
    width: 80%;
    margin: 30px auto 0 auto;
}

.sales__form input {
    width: 100%;
    padding: 10px 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #333333;
}

.sales__form input:focus {
    outline: none;
    border-color: #00d100;
}

.sales__form button {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    height: 80px;
    border: 1px solid #11b012;
    border-radius: 5px;
    outline: none;
    background-image: linear-gradient(to bottom, #00f374 0, #20e47b 1px, #00db00 2px, #00a900);
    box-shadow:
        0 7px 0 -2px #007900,
        0 13px 10px -3px #00d800,
        0 17px 15px -3px #00a600;
    transition: linear 0.1s;
    cursor: pointer;
    text-shadow: 0 2px #04ab0a;
}

.sales__form button:active {
    margin-top: 22px;
    box-shadow: none;

}

.sales__note {
    margin-top: 25px;

}

.sales__note span {
    display: block;
    text-align: center;
}

.sales__quantity {
    padding: 0 20px;
    margin-top: 35px;
    display: flex;

}

.sales__quantity span:nth-child(1) {
    width: 105px;
    font-weight: bold;
    margin-right: 25px;
}

.sales__quantity span:nth-child(2) {
    font-size: 77px;
    font-weight: bold;
    color: #29235f;
    line-height: 0.9;
}

.sales__quantity span:nth-child(3) {
    align-self: center;
}


/*Advantages*/
.advantages {
    width: 425px;
}

.advantages__item {
    width: 425px;
    height: 115px;
    color: #fff;
    font-size: 20px;
    background-color: #1c1541;
    margin-bottom: 8px;
    position: relative;
    padding: 25px 60px;
}


.advantages__item::before {
    content: '';
    position: absolute;
    left: 9px;
    top: 12px;
    display: block;
    width: 27px;
    height: 27px;
    border: 3px solid #d24d9c;
    border-radius: 50%;
}



.advantages__text::before,
.advantages__text::after {
    content: '';
    position: absolute;
    display: block;
    width: 25px;
    height: 4px;
    background-color: #ffba01;
    border-radius: 4px;
}

.advantages__text::before {
    top: 17px;
    left: 2px;
    transform: rotate(45deg);
}

.advantages__text::after {
    top: 17px;
    left: 17px;
    transform: rotate(-45deg);
}


/*Symptoms*/

.symptoms {
    position: relative;
    margin-top: 100px;
}

.symptoms__header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 71%;
    padding: 0 30px;
    text-align: center;
    background-color: #fff;
}

.symptoms__title {
    font-family: 'Montserrat',
    sans-serif;
    font-size: 72px;
    color: #29235f;
}

.symptoms__title--pink {
    color: #cb0ea1;
    text-transform: uppercase;
}

.symptoms__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 135px 0 75px 0;
    background-image: linear-gradient(to right, #d24d9c 30px, rgba(255, 255, 255, 0) 30px),
                      linear-gradient(to right, #d24d9c 30px, rgba(255, 255, 255, 0) 30px),
                      linear-gradient(to bottom, #d24d9c 30px, rgba(255, 255, 255, 0) 30px),
                      linear-gradient(to bottom, #d24d9c 30px, rgba(255, 255, 255, 0) 30px);
    background-position: top,
                         bottom,
                         left,
                         right;
    background-size: 40px 5px,
                     40px 5px,
                     5px 40px,
                     5px 40px;

    background-repeat:  repeat-x,
                        repeat-x,
                        repeat-y,
                        repeat-y;
}

.symptoms__item {
    width: 50%;
    padding: 105px 10px 105px 325px;
    position: relative;
    margin-bottom: 10px;
}

.symptoms__photo {
    top: 10px;
    left: 60px;
    z-index: 1;
    position: absolute;
    width: 245px;
    height: 245px;
    border-radius: 50%;
}

.symptoms__text {
    font-size: 24px;
    font-weight: bold;
    color: #28235d;
    height: 105px;
}

.symptoms__footer {
    margin-top: -4px;
    padding: 40px 55px 60px;
    background-color: #fd04b4;
    font-size: 42px;
    color: #fffc00;
    text-align: center;
    line-height: 1;
    background-image: linear-gradient(to right, #d24d9c 30px, rgba(255, 255, 255, 0) 30px);
    background-position: top;
    background-size: 40px 5px;
    background-repeat: repeat-x;
}

.symptoms__footer--up {
    text-transform: uppercase;
}

.symptoms__footer--bold {
    font-weight: bold;
}

/*Influence*/

.influence {
    padding-top: 20px;
}

.influence__item {
    width: 100%;
    padding-top: 75px;
}

.influence__title {
    text-align: center;
    font-size: 72px;
    font-family: 'Montserrat',
    sans-serif;
    color: #29235f;
    margin-bottom: 60px;
}

.influence__title--bg {
    background: url('../images/title-layer-big.png') no-repeat;
    text-transform: uppercase;
    background-position: -3px 40px;
    font-family: 'Arial',
    sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 112px;
    font-weight: bolder;
    background-color: #aa2421;
}

.influence__title--green,
.influence__title--pink {
    display: table;
    margin: 0 auto;
    position: relative;
}

.influence__title--green {
    color: #06c33d;
}

.influence__title--pink {
    color: #fd04b4;
}

.influence__title--green::after,
.influence__title--pink::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.influence__title--green::after {
    background-color: #06c33d;
}

.influence__title--pink::after {
    background-color: #fd04b4;
}

.influence__inner {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.influence__image {
    width: 45%;
    padding-top: 30px;
}

.influence__image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.influence__text {
    position: relative;
    padding: 40px 50px 20px 55px;
    width: 45%;
}

.influence__text--pb {
    padding: 40px 20px 60px 55px;
    margin-right: 30px;
}

.influence__text p {
    font-size: 24px;
}

.influence__text p:nth-child(1) {
    font-weight: bold;
}

.influence__text::before {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to right, #02f4ba 13px, rgba(255, 255, 255, 0) 13px),
        linear-gradient(to bottom, #02f4ba 13px, rgba(255, 255, 255, 0) 13px);
    background-position: top,
        left;

    background-size: 20px 3px,
        3px 20px;

    background-repeat: repeat-x,
        repeat-y;
    
    background-color: #fff;
    z-index: 1000;
}

.influence__item:nth-child(1) .influence__text::before {
    top: 90px;
    left: -40px;
    transform: rotate(-45deg);
}

.influence__item:nth-child(2) .influence__text::before {
    transform: rotate(135deg);
    right: -33px;
    top: 190px;
    background-image: linear-gradient(to right, #ffb0cf 13px, rgba(255, 255, 255, 0) 13px),
    linear-gradient(to bottom, #ffb0cf 13px, rgba(255, 255, 255, 0) 13px);
}

.influence__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.influence__result,
.influence__result span {
    position: relative;
}

.influence__result {
    padding: 70px 170px;
}

.influence__footer {
    margin-top: 90px;
    padding-bottom: 100px;
}

.influence__result h2 {
    position: absolute;
    width: 46%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;
    font-family: 'Montserrat',
    sans-serif;
    color: #29235f;
    z-index: 1000;
    background-color: #fff;
    text-align: center;
}

.influence__result span::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #29235f;
}

.influence__result p{
    font-size: 36px;
    font-weight: bold;
    color: #29235f;
    text-align: center;
}

.influence__order {
    position: absolute;
    width: 30%;
    background-color: #fff;
    padding: 0 28px;
    z-index: 1000;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 47%);
}


.influence__btn {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 35px;
    background-image: linear-gradient(to bottom, #00f374 0, #20e47b 1px, #02d13f 2px, #0da834);
    font-size: 18px;
    font-weight: bold;
    color: #29235f;
    font-family: 'Montserrat',
    sans-serif;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 7px 0 -2px #007900,
    0 7px 7px -3px #00d800,
    0 17px 15px -3px #00a600;
    text-shadow: 0 1px 1px #6cd421;
    transition: all 0.1s linear;
}

.influence__btn:active {
    margin-top: 5px;
    box-shadow: none;
    
}


/*Clients*/

.clients {
    padding-top: 100px;
    padding-bottom: 60px;
}


.clients__title {
    font-family: 'Montserrat',
    sans-serif;
    font-size: 48px;
    color: #fffc00;
    margin-bottom: 100px;
    text-align: center;
    text-transform: uppercase;
}

.clients__title--pink {
    font-size: 60px;
    color: #fd04b4;
}

.clients__item {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.clients__reviews {
    background-color: #fff;
    width: 47%;
    padding: 45px 20px 45px 30px;
    border-radius: 35px;
    font-size: 27px;
    font-weight: bold;
    color: #29235f;
    line-height: 1.4;
    position: relative;
}

.clients__reviews::after {
    content: '';
    display: block;
    position: absolute;
    border: 20px solid #fff;
    border-top-width: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.clients__item--right .clients__reviews::after {
    transform: rotate(90deg);
    top: 25%;
    right: -29px;
}

.clients__item--left .clients__reviews::after {
    transform: rotate(-90deg);
    top: 25%;
    left: -29px;
}

.clients__reviews--right {
    margin-right: 2%;
}
.clients__reviews--left {
    margin-left: 2%;
}


.clients__reviews--carry {
    display: table;
}
.clients__reviews--city {
    font-size: 16px;
    margin-top: 15px;
}

.clients__gallery {
    width: 47%;
    display: flex;
    justify-content: space-between;
}

.clients__photo {
    border: 10px solid #fff;
    width: 47%;;
}

.clients__photo img{
    display: block;
    width: 100%;
    height: 100%;
}


.clients__more-reviews {
    text-align: center;
    
}

.clients__link {
    font-size: 36px;
    color: #fffc00;
    text-decoration: none;
    position: relative;
}

.clients__link::after {
    content: '';
    width: 100%;
    position: absolute;
    border: 1px solid #fffc00;
    bottom: 0;
    left: 0;
}

/*Footer*/

.footer {
    padding-top: 20px;
    padding-bottom: 50px;
}

.footer__text {
    text-align: center;
    font-size: 18px;
}

.footer__text p {
    font-weight: bold;
    margin: 5px 0;
}

.footer__link {
    padding-top: 30px;
    width: 314px;
    margin: 0 auto;
    text-align: center;
}

.footer__link a {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 1px;
}

.footer a:link {
    color: #0b16fb;
    border-bottom: 1px solid #0b16fb;
    
}

.footer a:visited {
    color: #EF7D55;
    border-bottom: 1px solid #EF7D55;
}


.footer a:hover {
    color: #0b16fb;
    border-bottom: 1px solid #0b16fb;
}

.footer a:active {
    color: #497DDD;
    border-bottom: 1px solid #497DDD;
}


/*@media*/

@media (max-width: 1170px) {
    /*Header*/
    .header {
        padding-bottom: 10px;
        position: relative;
    }

    .header__inner {
        position: static;
    }

    .header__list {
        display: flex;
        justify-content: space-around;
    }

    .header__item {
        margin-right: 0;
        text-align: center;
    }

    .header__btn {
        transform: none;
        position: static;
        display: block;
        width: 250px;
        margin: 30px auto 0 auto;
    }

    /*Symptoms*/
    .symptoms__item {
        padding: 70px 10px 70px 280px;
    }

    .symptoms__photo {
        width: 200px;
        height: 200px;
    }

    .symptoms__header {
        width: 60%;
        padding: 0 15px;
    }

    .symptoms__title {
        font-size: 52px;
    }

    .symptoms__inner {
        padding-top: 100px;
    }
    /*Influence*/
    .influence__title {
        font-size: 56px;
    }
    .influence__title--bg {
        font-size: 70px;
        background-image: none;
    }

    .influence__image {
        width: 50%;
    }

    .influence__text {
        width: 40%;
        padding: 20px 30px 20px 46px;
    }

    .influence__text::before {
        width: 60px;
        height: 60px;
    }

    .influence__item:nth-child(1) .influence__text::before {
        left: -25px;
    }

    .influence__item:nth-child(2) .influence__text::before {
        right: -19px;
    }

    .influence__result {
        padding: 50px 50px;
    }

    .influence__result h2 {
        width: 45%;
        font-size: 45px;
    }

    .influence__btn {
        padding: 20px 0;
    }

    /*Clients*/
    .clients__item {
        flex-direction: column;
        align-items: center;
        
    }

    .clients__reviews {
        margin: 0 0 30px;
        width: 575px;
        border-radius: 5px;
    }

    .clients__reviews::after {
        display: none;
    }

    .clients__gallery {
        width: 575px;
    }

    .clients__reviews--left {
        order: -1;
    }
}

@media (max-width: 990px) {
    /*Intro*/
    .intro__gradient {
        background-image: radial-gradient(circle farthest-side at 50% 80%, #fff 0%, #fff 4%, transparent 60%);
    }

    .intro__inner {
        flex-direction: column;
        align-items: center;
    }

    .intro__footer {
        margin-top: 600px;
    }

    .intro__title {
        font-size: 38px;
    }

    .intro__title--carry {
        margin: 0 auto;
    }

    .intro__title--pink::after {
        height: 3px;
    }

    .intro__subtitle {
        font-size: 20px;
    }

    .intro__image--product {
        left: -30px;
    }

    /*Advantages*/
    .advantages {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .advantages__item {
        text-align: center;

    }

    /*Sales*/
    .sales {
        margin-top: 30px;
    }

    /*Symptoms*/
    .symptoms__item {
        padding: 50px 10px 60px 190px;
    }

    .symptoms__photo {
        width: 155px;
        height: 155px;
        left: 20px;
    }

    .symptoms__title {
        font-size: 40px;
    }

    .symptoms__inner {
        padding-top: 90px;
    }

    .symptoms__footer {
        padding: 40px 35px 45px;
        font-size: 32px;
    }

    /*Influence*/
    .influence__inner {
        flex-direction: column;
    }

    .influence__item {
        padding-top: 30px;
    }

    .influence__text {
        order: -1;
        margin-bottom: 20px;
        width: 70%;
        padding: 20px 20px 30px 20px;
        text-align: center;
    }

    .influence__item:nth-child(1) .influence__text::before {
        left: 45%;
        top: 88%;
        transform: rotate(-135deg);
    }

    .influence__item:nth-child(2) .influence__text::before {
        transform: rotate(225deg);
        top: 87%;
        right: 42%;
    }

    .influence__text--pb {
        margin-right: 0;
    }

    .influence__title {
        font-size: 44px;
    }

    .influence__title--bg {
        font-size: 57px;
    }

    .influence__result {
        padding: 20px 10px;
    }

    .influence__result p {
        font-size: 24px;
    }

    .influence__result h2 {
        font-size: 36px;
        width: 340px;
    }

    .influence__order {
        width: 310px;
    }
}

@media (max-width: 770px) {
    /*Header*/
    .header__list {
        flex-direction: column;
        align-items: center;
    }

    .header__item {
        margin-bottom: 20px;
    }

    /*Intro*/

    .intro__footer {
        margin-top: 500px;
    }

    .intro__image--girl {
        width: 400px;
        left: 94px;
    }

    .intro__image--product {
        width: 300px;
        left: 55px;
        bottom: 55px;
    }

    .intro__image--label {
        width: 180px;
        left: 200px;
    }

    /*Symptoms*/
    .symptoms__inner {
        background-image: none;
        padding-bottom: 20px;
    }

    .symptoms__item {
        width: 100%;
    }

    .symptoms__footer {
        padding: 30px 10px 30px;
        font-size: 22px;
        background-image: none;
    }

    /*Influence*/
    .influence__item:nth-child(1) .influence__text::before {
        top: 89%;
    }

    .influence__item:nth-child(2) .influence__text::before {
        top: 89%;
    }

    .influence__title {
        font-size: 33px;
    }

    .influence__title--bg {
        font-size: 47px;
    }

    .influence__result h2 {
        font-size: 30px;
        width: 300px;
    }

    .influence__order {
        width: 290px;
    }

    .influence__btn {
        font-size: 16px;
    }

    .influence__result p {
        font-size: 21px;
    }
    
}

@media (max-width: 575px) {
    /*Intro*/
    .intro__subtitle {
        font-size: 16px;
        padding: 0 10px;
        line-height: 1.4;
    }

    .intro__footer {
        margin-top: 400px;
    }

    .intro__image--girl {
        width: 320px;
        left: 146px;
    }

    .intro__image--product {
        width: 237px;
        left: 201px;
        bottom: 55px;
    }

    .intro__image--label {
        width: 144px;
        left: 208px;
        top: -146px;
    }

    /*Advantages*/
    .advantages__item {
        width: 95%;
        padding: 10px;
        font-size: 17px;
        height: 80px;
        vertical-align: middle;
        border-radius: 10px;
    }

    .advantages__item::before,
    .advantages__text::after,
    .advantages__text::before {
        display: none;
    }

    
    /*Sales*/
    .sales__quantity {
        padding-left: 40px;
    }

    /*Symptoms*/
    .symptoms {
        margin-top: 30px;
    }

    .symptoms__item {
        padding: 35px 10px 15px 150px;
    }

    .symptoms__photo {
        width: 110px;
        height: 110px;
        left: 20px;
    }

    .symptoms__title {
        font-size: 32px;
    }

    .symptoms__text {
        font-size: 18px;
    }
    .symptoms__header {
        width: 100%;
    }

    .symptoms__inner {
        padding-top: 60px;
    }

    /*Influence*/
    .influence__text {
        width: 100%;
        padding: 10px 10px 30px 10px;
    }

    .influence__item:nth-child(1) .influence__text::before {
        top: 83%;
    }

    .influence__item:nth-child(2) .influence__text::before {
        top: 83%;
    }

    .influence__text p {
        font-size: 18px;
    }

    .influence__image {
        width: 60%;
    }

    .influence__title {
        font-size: 24px;
    }

    .influence__title--bg {
        font-size: 32px;
    }

    /*Clients*/

    .clients {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .clients__title {
        font-size: 34px;
        margin-bottom: 50px;
    }

    .clients__title--pink {
        font-size: 38px;
        
    }

    .clients__reviews {
        width: 100%;
        font-size: 18px;
        padding: 15px;
    }

    .clients__gallery {
        width: 100%;
        font-size: 18px;
    }

    .clients__link {
        font-size: 28px;
    }

    /*Footer*/
    .footer__text {
        font-size: 16px;
    }

    .footer__link a {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    /*Influence*/
    .influence__image {
        width: 70%
    }

    .influence__text::before {
        width: 40px;
        height: 40px;
    }

    .influence__item:nth-child(1) .influence__text::before {
        top: 91%;
    }

    .influence__item:nth-child(2) .influence__text::before {
        top: 91%;
    }

    .influence__title--green::after,
    .influence__title--pink::after {
        display: none;
    }
}






